.link, .link-2 { border-bottom: 5px dashed red; }

.block { width: 31.25%; background-color: #666; padding: 30px; font-size: 100px; line-height: 60px; }

.block .block__text { font-size: 100px; }

.block .block__text span { color: green; }

.link { font-size: "80px"; color: "green"; color: blue; text-decoration: underline; font-size: 100px; }

.link .block { font-size: 100px; }

.link:hover { color: green; }

.link-2 { font-size: "50px"; color: "green"; border-bottom: 5px dashed #000; }
